
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section top{
    @RenderSectionAsync("top", false)
}

<section>
    <div class="container">
        <div class="row">
            @await  Html.PartialAsync("SharedPartial/_LeftSidebar")
        </div>
        <div class="col-sm-9 padding-right">
            @RenderBody()
        </div>
    </div>
</section>

