@model WebStore.Models.EmployeeView

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Доп. инфо</title>
</head>
<body>

    <h4>@Model.FirstName @Model.LastName детальная информация</h4>

    <p>Дополнительная информация: @Model.Detail</p>
    @Html.ActionLink("Назад к списку сотрудников", "Index")
</body>
</html>
